# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/
db/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# ignore macos related directories
__MACOSX/
.DS_STORE

# python bytecode and run outputs
__pycache__/
*.pyc
output/
